<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{toy.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{toy.text}}</p>
          <p>
            <strong>Description:</strong> {{toy.description}}</p>
          <div id="toyPic">
            <img src={{toy.photoPath}} class="img-fluid" alt="toy">
          </div>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
